* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Header */

.header--flex{
    background-image: url(web/image/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1072px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-family:'Lato', sans-serif;
    text-align: center;
}

.header__logo{
    margin-top: 285px;
    margin-bottom: 90px;
}

.header__title{
    text-transform: uppercase;
}

.header__title--title {
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 9px;
    margin: 0;
    margin-bottom: 50px;
    min-width: 320px;
}

.header__title--text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    max-width: 610px;
    min-width: 320px;
    min-height: 70px;
    margin: 0;
}
.header__scroll {
    margin-top: 240px;
    margin-bottom: 115px;
}

/* About Us */

.about-us {
    min-height: 630px;
    font-family:'Lato', sans-serif;
    padding-top: 145px;
    padding-bottom: 160px;
}

.about-us__fieldset{
    max-width: 903px;
    min-width: 315px;
    min-height: 330px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    border-color: #000;
}

.about-us__legend {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000;
    padding: 0 100px;
    text-transform: uppercase;
}

.about-us__text-top {
    max-width: 456px;
    min-height: 68px;
    margin: 0 auto;
    padding-top: 50px;
    color: #3c3c3c;
    line-height: 24px;
}

.about-us__text-bottom {
    max-width: 450px;
    min-height: 110px;
    margin: 0 auto;
    padding: 35px 0 25px 0;
    color: #3c3c3c;
    line-height: 24px;
}

/* Services */

.services--background {
    background-image: url(web/image/services.jpg);
    background-size: cover;
    background-position: center;
    min-height: 490px;
    color: #fff;
    font-family:'Lato', sans-serif;
    padding-top: 110px;
    padding-bottom: 110px;
}

.services__fieldset{
    max-width: 903px;
    min-width: 315px;
    min-height: 250px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    border-color: #fff;
}

.services__legend {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    padding: 0 100px;
    text-transform: uppercase;
}

.services__text {
    max-width: 550px;
    min-height: 147px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 15px;
    color: #fff;
    line-height: 26px;
}

/* What We Do */

.what-we-do {
    min-height: 1420px;
    font-family:'Lato', sans-serif;
    padding-top: 145px;
    padding-bottom: 120px;
}

.what-we-do__fieldset{
    max-width: 903px;
    min-width: 315px;
    min-height: 1200px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    border-color: #000;
}

.what-we-do__legend {   
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000;
    padding: 0 100px;
    text-transform: uppercase;
}

.what-we-do__text {
    max-width: 560px;
    min-height: 93px;
    margin: 0 auto;
    color: #3c3c3c;
    line-height: 24px;
}

.what-we-do__text--height {
    min-height: 66px;
}

.what-we-do__design, .what-we-do__development {
    padding-top: 100px;
}

.what-we-do__product {
    padding-top: 90px;
}

.what-we-do__fieldset span{
    font-size: 20px;
    font-weight: 700; 
    text-transform: uppercase;
    padding: 37px 0;
    display: inline-block;
}

/* Our works */

.puzzle--flex {
    min-height: 475px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family:'Lato', sans-serif;
}

.puzzle__block {
    position: relative;
    height: 237px;
    width: 548px;
    min-width: 320px;
    border: 5px solid #fff;
}
/*
.puzzle__block img {
    width: 100%;
    height: 237px;
}
*/
/*
.puzzle__block--big img {
width: 100%;
height: 237px;
}
*/
.puzzle__title {
    position: absolute;
    left: 47px;
    bottom: 37px;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.puzzle__block:hover {
    cursor: pointer;
}
.puzzle__title span{
margin: 0 ;
margin-left: -5px;
padding: 0;
}

.puzzle__block:hover .puzzle__title--color-green{
    color: green;
}
.puzzle__block:hover .puzzle__title--color-red {
    color:red ;
}
.puzzle__block:hover .puzzle__title--color-blue {
    color: blue;
}
.puzzle__block:hover .puzzle__title--color-purple{
    color: purple;
}
.puzzle__block:hover .puzzle__title--color-black {
    color: black;
}
.puzzle__block:hover .puzzle__title--color-yellow {
    color: yellow;
}


.puzzle__block--topworkz {
    background-image: url(web/image/top\ left.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1.2;
    
}
.puzzle__block--joint-big{
    background-image: url(web/image/top\ center.jpg);
    background-size: cover;
    background-position: center;
    width: 803px;
    flex-grow: 1;

}
.puzzle__block--market {
    background-image: url(web/image/top\ right.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1.2;
   
}
.puzzle__block--worktop {
    background-image: url(web/image/bottom\ left.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1.2;
   
}
.puzzle__block--label-big{
    background-image: url(web/image/bottom\ center.jpg);
    background-size: cover;
    background-position: center;
    width: 803px;
    flex-grow: 1;
}
.puzzle__block--kyiv{
    background-image: url(web/image/bottom\ right.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1.2;
}
/* Contact Us */

.contact-us {
    min-height: 596px;
    font-family:'Lato', sans-serif;
    padding-top: 125px;
}

.contact-us__fieldset{
    max-width: 903px;
    min-width: 315px;
    min-height: 300px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    border-color: #000;
}

.contact-us__legend {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000;
    padding: 0 100px;
    text-transform: uppercase;
}

.contact-us__text {
    max-width: 548px;
    min-height: 70px;
    margin: 0 auto;
    padding-top: 50px;
    color: #3c3c3c;
    line-height: 24px;
}

.contact-us__button {
    background-color: #3c3c3c;
    color: #fff;
    width: 395px;
    height: 58px;
    border: transparent;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 40px ;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.contact-us__button:hover {
    transform: rotateX(360deg);
    background-color: transparent;
    color: green;
    transition: all 0.5s;
}

.cotact-us__footer{
    padding: 63px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cotact-us__footer img {
    padding-right: 30px;
}

@media screen and (max-width:799px) {
    .contact-us__button{
        width: 300px;
    }
}

@media screen and (max-width:1375px) {
    .puzzle__block {
    width: 360px;
    min-width: 310px;
    } 
    .puzzle__block--joint-big, .puzzle__block--label-big{
        width: 490px;
    } 
}